@import './baseVal.scss';
@import './questionList.scss';

.admin-cnt{
    .srh-p{
        height: 40px;
        line-height: 40px;
        background: #F0F8FF;
        color: $fc1;
        font-size: $mfs;
        margin: 40px 0 20px;
        padding-left: 30px;
    }
    .srh-area{
        display: flex;
        display: -webkit-flex;
        .line,.item-wp{
            display: flex;
            display: -webkit-flex;
            line-height: 36px;
        }
        .item-wp{
            margin-right: 20px;
            span{
                display: inline-block;
                min-width: 78px;
                text-align: right;
            }
        }
        .line{
            margin-bottom: 20px;            
        }
        .button{
            width: 100px;
            height: 36px;
            line-height: 36px;
        }
        a:hover{
            color: #fff;
        }
        input,[type="date"]{
            display: block;
            width: 260px;
            height: 36px;
            line-height: 36px;
            border: $comborder;
            border-radius: 4px;
            padding: 4px;
            color: #333;
            font-size: $nfs;
        }
        [type="date"]{
            width: 260px;
        }
        select{
            min-width: 160px;
            height: 36px;
        }
    }
    .que-list-table{
        th,td{
            text-align: center;
        }
    }
    .fn-btn-area{
        margin-bottom: 20px;
        .button{
            width: 100px;
            height: 36px;
            line-height: 36px;
            margin-right: 10px;
        }
    }
    .movecat-pop{
        padding-top: 20px;
        font-size: 16px;
        .line{
            height: 40px;
            line-height: 40px;
            span{
                display: inline-block;
                width: 80px;
            }
        }
        select{
            margin-left: 10px;
            width: 120px;
        }
    }
}