$comborder: 1px solid #ddd;
$nfs: 13px; //正常字號
$mfs: 16px; //中
$bfs: 18px; //大
$comWidth: 1180px; //统一宽度
$comlh: 26px; //行高

$fc1: #333; //字體深色
$fc2: #666; //中等色
$fc3: #999; //淺色

$afc: #337ab7; //a标签颜色

$baseColor: #37a508; //基础色
$baseColorLight: #daf3cf; //基础色
$baseColorDeep: #279005; //基础色深

$orange: #F57C00;
$blue: #01579B;
$lgray: #FAFAFA; //浅灰
$mgray: #ddd; //中灰
$dgray: #aaa; //深灰
$comshadow: 0px 2px 5px rgba(0, 0, 0, .3); //统一阴影
$wikiWidth: 1180px;

